.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 7rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.4rem;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 20rem;
    font-size: 1.2rem;
  }
  img {
    width: 175px;
    border-radius: 50%;
    padding-bottom: 1rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 5rem;
      line-height: 5rem;
      letter-spacing: 0.4rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
